In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

## ACTOR

In [2]:
df_actor=pd.read_csv('../data/actor.csv')
df_actor

     actor_id   first_name     last_name          last_update
0           1     PENELOPE       GUINESS  2006-02-15 04:34:33
1           2         NICK      WAHLBERG  2006-02-15 04:34:33
2           3           ED         CHASE  2006-02-15 04:34:33
3           4     JENNIFER         DAVIS  2006-02-15 04:34:33
4           5       JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33
5           6        BETTE     NICHOLSON  2006-02-15 04:34:33
6           7        GRACE        MOSTEL  2006-02-15 04:34:33
7           8      MATTHEW     JOHANSSON  2006-02-15 04:34:33
8           9          JOE         SWANK  2006-02-15 04:34:33
9          10    CHRISTIAN         GABLE  2006-02-15 04:34:33
10         11         ZERO          CAGE  2006-02-15 04:34:33
11         12         KARL         BERRY  2006-02-15 04:34:33
12         13          UMA          WOOD  2006-02-15 04:34:33
13         14       VIVIEN        BERGEN  2006-02-15 04:34:33
14         15         CUBA       OLIVIER  2006-02-15 04:34:33
15         16         FRED       COSTNER  2006-02-15 04:34:33
16         17        HELEN        VOIGHT  2006-02-15 04:34:33
17         18          DAN          TORN  2006-02-15 04:34:33
18         19          BOB       FAWCETT  2006-02-15 04:34:33
19         20      LUCILLE         TRACY  2006-02-15 04:34:33
20         21      KIRSTEN       PALTROW  2006-02-15 04:34:33
21         22        ELVIS          MARX  2006-02-15 04:34:33
22         23       SANDRA        KILMER  2006-02-15 04:34:33
23         24      CAMERON        STREEP  2006-02-15 04:34:33
24         25        KEVIN         BLOOM  2006-02-15 04:34:33
25         26          RIP      CRAWFORD  2006-02-15 04:34:33
26         27        JULIA       MCQUEEN  2006-02-15 04:34:33
27         28        WOODY       HOFFMAN  2006-02-15 04:34:33
28         29         ALEC         WAYNE  2006-02-15 04:34:33
29         30       SANDRA          PECK  2006-02-15 04:34:33
30         31        SISSY      SOBIESKI  2006-02-15 04:34:33
31         32          TIM       HACKMAN  2006-02-15 04:34:33
32         33        MILLA          PECK  2006-02-15 04:34:33
33         34       AUDREY       OLIVIER  2006-02-15 04:34:33
34         35         JUDY          DEAN  2006-02-15 04:34:33
35         36         BURT       DUKAKIS  2006-02-15 04:34:33
36         37          VAL        BOLGER  2006-02-15 04:34:33
37         38          TOM      MCKELLEN  2006-02-15 04:34:33
38         39       GOLDIE         BRODY  2006-02-15 04:34:33
39         40       JOHNNY          CAGE  2006-02-15 04:34:33
40         41        JODIE     DEGENERES  2006-02-15 04:34:33
41         42          TOM       MIRANDA  2006-02-15 04:34:33
42         43         KIRK      JOVOVICH  2006-02-15 04:34:33
43         44         NICK      STALLONE  2006-02-15 04:34:33
44         45        REESE        KILMER  2006-02-15 04:34:33
45         46       PARKER      GOLDBERG  2006-02-15 04:34:33
46         47        JULIA     BARRYMORE  2006-02-15 04:34:33
47         48      FRANCES     DAY-LEWIS  2006-02-15 04:34:33
48         49         ANNE        CRONYN  2006-02-15 04:34:33
49         50      NATALIE       HOPKINS  2006-02-15 04:34:33
50         51         GARY       PHOENIX  2006-02-15 04:34:33
51         52       CARMEN          HUNT  2006-02-15 04:34:33
52         53         MENA        TEMPLE  2006-02-15 04:34:33
53         54     PENELOPE       PINKETT  2006-02-15 04:34:33
54         55          FAY        KILMER  2006-02-15 04:34:33
55         56          DAN        HARRIS  2006-02-15 04:34:33
56         57         JUDE        CRUISE  2006-02-15 04:34:33
57         58    CHRISTIAN        AKROYD  2006-02-15 04:34:33
58         59       DUSTIN        TAUTOU  2006-02-15 04:34:33
59         60        HENRY         BERRY  2006-02-15 04:34:33
60         61    CHRISTIAN        NEESON  2006-02-15 04:34:33
61         62        JAYNE        NEESON  2006-02-15 04:34:33
62         63      CAMERON          WRAY  2006-02-15 04:34:33
63         64          RAY     JOHANSSON  2006-02-15 04:34:33
64         65       ANGELA        HUDSON  2006-02-15 04:34:33
65         66         MARY         TANDY  2006-02-15 04:34:33
66         67      JESSICA        BAILEY  2006-02-15 04:34:33
67         68          RIP       WINSLET  2006-02-15 04:34:33
68         69      KENNETH       PALTROW  2006-02-15 04:34:33
69         70     MICHELLE   MCCONAUGHEY  2006-02-15 04:34:33
70         71         ADAM         GRANT  2006-02-15 04:34:33
71         72         SEAN      WILLIAMS  2006-02-15 04:34:33
72         73         GARY          PENN  2006-02-15 04:34:33
73         74        MILLA        KEITEL  2006-02-15 04:34:33
74         75         BURT         POSEY  2006-02-15 04:34:33
75         76     ANGELINA       ASTAIRE  2006-02-15 04:34:33
76         77         CARY   MCCONAUGHEY  2006-02-15 04:34:33
77         78      GROUCHO       SINATRA  2006-02-15 04:34:33
78         79          MAE       HOFFMAN  2006-02-15 04:34:33
79         80        RALPH          CRUZ  2006-02-15 04:34:33
80         81     SCARLETT         DAMON  2006-02-15 04:34:33
81         82        WOODY         JOLIE  2006-02-15 04:34:33
82         83          BEN        WILLIS  2006-02-15 04:34:33
83         84        JAMES          PITT  2006-02-15 04:34:33
84         85       MINNIE     ZELLWEGER  2006-02-15 04:34:33
85         86         GREG       CHAPLIN  2006-02-15 04:34:33
86         87      SPENCER          PECK  2006-02-15 04:34:33
87         88      KENNETH         PESCI  2006-02-15 04:34:33
88         89     CHARLIZE         DENCH  2006-02-15 04:34:33
89         90         SEAN       GUINESS  2006-02-15 04:34:33
90         91  CHRISTOPHER         BERRY  2006-02-15 04:34:33
91         92      KIRSTEN        AKROYD  2006-02-15 04:34:33
92         93        ELLEN       PRESLEY  2006-02-15 04:34:33
93         94      KENNETH          TORN  2006-02-15 04:34:33
94         95        DARYL      WAHLBERG  2006-02-15 04:34:33
95         96         GENE        WILLIS  2006-02-15 04:34:33
96         97          MEG         HAWKE  2006-02-15 04:34:33
97         98        CHRIS       BRIDGES  2006-02-15 04:34:33
98         99          JIM        MOSTEL  2006-02-15 04:34:33
99        100      SPENCER          DEPP  2006-02-15 04:34:33
100       101        SUSAN         DAVIS  2006-02-15 04:34:33
101       102       WALTER          TORN  2006-02-15 04:34:33
102       103      MATTHEW         LEIGH  2006-02-15 04:34:33
103       104     PENELOPE        CRONYN  2006-02-15 04:34:33
104       105       SIDNEY         CROWE  2006-02-15 04:34:33
105       106      GROUCHO         DUNST  2006-02-15 04:34:33
106       107         GINA     DEGENERES  2006-02-15 04:34:33
107       108       WARREN         NOLTE  2006-02-15 04:34:33
108       109    SYLVESTER          DERN  2006-02-15 04:34:33
109       110        SUSAN         DAVIS  2006-02-15 04:34:33
110       111      CAMERON     ZELLWEGER  2006-02-15 04:34:33
111       112      RUSSELL        BACALL  2006-02-15 04:34:33
112       113       MORGAN       HOPKINS  2006-02-15 04:34:33
113       114       MORGAN     MCDORMAND  2006-02-15 04:34:33
114       115     HARRISON          BALE  2006-02-15 04:34:33
115       116          DAN        STREEP  2006-02-15 04:34:33
116       117        RENEE         TRACY  2006-02-15 04:34:33
117       118         CUBA         ALLEN  2006-02-15 04:34:33
118       119       WARREN       JACKMAN  2006-02-15 04:34:33
119       120     PENELOPE        MONROE  2006-02-15 04:34:33
120       121         LIZA       BERGMAN  2006-02-15 04:34:33
121       122        SALMA         NOLTE  2006-02-15 04:34:33
122       123     JULIANNE         DENCH  2006-02-15 04:34:33
123       124     SCARLETT        BENING  2006-02-15 04:34:33
124       125       ALBERT         NOLTE  2006-02-15 04:34:33
125       126      FRANCES         TOMEI  2006-02-15 04:34:33
126       127        KEVIN       GARLAND  2006-02-15 04:34:33
127       128         CATE       MCQUEEN  2006-02-15 04:34:33
128       129        DARYL      CRAWFORD  2006-02-15 04:34:33
129       130        GRETA        KEITEL  2006-02-15 04:34:33
130       131         JANE       JACKMAN  2006-02-15 04:34:33
131       132         ADAM        HOPPER  2006-02-15 04:34:33
132       133      RICHARD          PENN  2006-02-15 04:34:33
133       134         GENE       HOPKINS  2006-02-15 04:34:33
134       135         RITA      REYNOLDS  2006-02-15 04:34:33
135       136           ED     MANSFIELD  2006-02-15 04:34:33
136       137       MORGAN      WILLIAMS  2006-02-15 04:34:33
137       138      LUCILLE           DEE  2006-02-15 04:34:33
138       139         EWAN       GOODING  2006-02-15 04:34:33
139       140       WHOOPI          HURT  2006-02-15 04:34:33
140       141         CATE        HARRIS  2006-02-15 04:34:33
141       142         JADA         RYDER  2006-02-15 04:34:33
142       143        RIVER          DEAN  2006-02-15 04:34:33
143       144       ANGELA   WITHERSPOON  2006-02-15 04:34:33
144       145          KIM         ALLEN  2006-02-15 04:34:33
145       146       ALBERT     JOHANSSON  2006-02-15 04:34:33
146       147          FAY       WINSLET  2006-02-15 04:34:33
147       148        EMILY           DEE  2006-02-15 04:34:33
148       149      RUSSELL        TEMPLE  2006-02-15 04:34:33
149       150        JAYNE         NOLTE  2006-02-15 04:34:33
150       151     GEOFFREY        HESTON  2006-02-15 04:34:33
151       152          BEN        HARRIS  2006-02-15 04:34:33
152       153       MINNIE        KILMER  2006-02-15 04:34:33
153       154        MERYL        GIBSON  2006-02-15 04:34:33
154       155          IAN         TANDY  2006-02-15 04:34:33
155       156          FAY          WOOD  2006-02-15 04:34:33
156       157        GRETA        MALDEN  2006-02-15 04:34:33
157       158       VIVIEN      BASINGER  2006-02-15 04:34:33
158       159        LAURA         BRODY  2006-02-15 04:34:33
159       160        CHRIS          DEPP  2006-02-15 04:34:33
160       161       HARVEY          HOPE  2006-02-15 04:34:33
161       162        OPRAH        KILMER  2006-02-15 04:34:33
162       163  CHRISTOPHER          WEST  2006-02-15 04:34:33
163       164     HUMPHREY        WILLIS  2006-02-15 04:34:33
164       165           AL       GARLAND  2006-02-15 04:34:33
165       166         NICK     DEGENERES  2006-02-15 04:34:33
166       167     LAURENCE       BULLOCK  2006-02-15 04:34:33
167       168         WILL        WILSON  2006-02-15 04:34:33
168       169      KENNETH       HOFFMAN  2006-02-15 04:34:33
169       170         MENA        HOPPER  2006-02-15 04:34:33
170       171      OLYMPIA      PFEIFFER  2006-02-15 04:34:33
171       172      GROUCHO      WILLIAMS  2006-02-15 04:34:33
172       173         ALAN      DREYFUSS  2006-02-15 04:34:33
173       174      MICHAEL        BENING  2006-02-15 04:34:33
174       175      WILLIAM       HACKMAN  2006-02-15 04:34:33
175       176          JON         CHASE  2006-02-15 04:34:33
176       177         GENE      MCKELLEN  2006-02-15 04:34:33
177       178         LISA        MONROE  2006-02-15 04:34:33
178       179           ED       GUINESS  2006-02-15 04:34:33
179       180         JEFF   SILVERSTONE  2006-02-15 04:34:33
180       181      MATTHEW        CARREY  2006-02-15 04:34:33
181       182       DEBBIE        AKROYD  2006-02-15 04:34:33
182       183      RUSSELL         CLOSE  2006-02-15 04:34:33
183       184     HUMPHREY       GARLAND  2006-02-15 04:34:33
184       185      MICHAEL        BOLGER  2006-02-15 04:34:33
185       186        JULIA     ZELLWEGER  2006-02-15 04:34:33
186       187        RENEE          BALL  2006-02-15 04:34:33
187       188         ROCK       DUKAKIS  2006-02-15 04:34:33
188       189         CUBA         BIRCH  2006-02-15 04:34:33
189       190       AUDREY        BAILEY  2006-02-15 04:34:33
190       191      GREGORY       GOODING  2006-02-15 04:34:33
191       192         JOHN        SUVARI  2006-02-15 04:34:33
192       193         BURT        TEMPLE  2006-02-15 04:34:33
193       194        MERYL         ALLEN  2006-02-15 04:34:33
194       195        JAYNE   SILVERSTONE  2006-02-15 04:34:33
195       196         BELA        WALKEN  2006-02-15 04:34:33
196       197        REESE          WEST  2006-02-15 04:34:33
197       198         MARY        KEITEL  2006-02-15 04:34:33
198       199        JULIA       FAWCETT  2006-02-15 04:34:33
199       200        THORA        TEMPLE  2006-02-15 04:34:33

In [3]:
df_actor.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.0 KB

## CATEGORY

In [4]:
df_category=pd.read_csv('../data/category.csv')
df_category

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

## FILM

In [5]:
df_film=pd.read_csv('../data/film.csv')
df_film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

## INVENTORY

In [6]:
df_inventory=pd.read_csv('../data/inventory.csv')
df_inventory.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

## LANGUAGE

In [7]:
df_language=pd.read_csv('../data/language.csv')
df_language.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

## RENTAL

In [8]:
df_rental=pd.read_csv('../data/rental.csv')
df_rental.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53