In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn

In [2]:
# Importo todos los csv

catergory =pd.read_csv('../data/new_data/category.csv')

language =pd.read_csv('../data/new_data/language.csv')

actor =pd.read_csv('../data/new_data/actor.csv')

actor_film =pd.read_csv('../data/new_data/actor_film.csv')

film =pd.read_csv('../data/new_data/film.csv')

inventory =pd.read_csv('../data/new_data/inventory.csv')

rental =pd.read_csv('../data/new_data/rental.csv')

store =pd.read_csv('../data/new_data/store.csv')

customer =pd.read_csv('../data/new_data/customer.csv')

staff =pd.read_csv('../data/new_data/staff.csv')

In [4]:
# Conecta a una base de datos mysql y activa el cursor/motor

password = "".join(open('../text/mysql_pass.txt', "r").readlines()) # Me traigo el password de mysql

db=conn.connect(host='localhost', user='root', passwd=password, database='blockbuster')

cursor=db.cursor()

In [5]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [6]:
# Cargo datos a 'category'

insert(catergory, 'category')

Comiteado!

In [7]:
# Cargo datos a 'language'

insert(language, 'language')

Comiteado!

In [8]:
# Cargo datos a 'actor'

insert(actor, 'actor')

Comiteado!

In [10]:
# Cargo datos a 'film'

insert(film, 'film')

ProgrammingError: 1054 (42S22): Unknown column 'rating' in 'field list'